<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ur5_hitbot_with_ilc_platform" >
  
  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

  <!-- ILC platform -->
  <xacro:include filename="$(find handson_description)/urdf/ilc_platform.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="false"/>

  <!-- hand -->
  <xacro:include filename="$(find handson_description)/urdf/hitbot/hitbot.urdf.xacro" />

  <!-- world link -->
  <link name="world" />
  <joint name="world_platform_joint" type="fixed">
    <parent link="world" />
    <child link = "platform_base" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="platform_base_link_joint" type="fixed">
    <parent link="robot_install_plate" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 ${0.015 / 2}" rpy="0.0 0.0 ${pi}" />
  </joint>

  <joint name="tool0_hitbot_joint" type="fixed">
    <parent link="tool0" />
    <child link = "hitbot_base" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${pi/4}" />
  </joint>

</robot>